.git/
.github/
.vscode/

bin/
obj/
out/
publish/
TestResults/
coverage/
logs/
import/

*.binlog
*.log
*.coverage
*.coveragexml
*.nupkg
*.snupkg

appsettings.Development.json
appsettings.Local.json
*.Local.json
secrets.json
.env
.env.*

windows_servers.json
linux_servers.json
master.key

.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
